<p>[<a href=".">home</a>] [<a href="listing/search/">search</a>] [<a href="listing/submit">post a listing</a>]</p>
<p>Hello everyone! This is a first production of a textbook trade for University of Idaho. Click search to search by subject and course number. Click post a listing to post a listing.</p>
<p>I put this together in about two days. You should email me if:</p>
<ul>
	<li>You want to delete a listing.</li>
	<li>You have a bug to report (this will probably happen).</li>
	<li>You have web development/design experience (bonus points for python/django) and you'd like to help on this small project.</li>
</ul>
<p>There won't be a lot of listings at first. This will only work if you help squash bugs and participate. It's barebones because of how new it is; eventually I'll go in and make it look pretty.</p>
<p>Thanks a ton!</p>
