<p>[<a href="../..">home</a>] [<a href="../search/">search</a>]</p>
<form action="/submission/" method="post">
	{% csrf_token %}

	<p>Title of Listing: {{ form.title }}</p>
	<p>Email: {{ form.email }}</p>
	<p>Desired Price: {{ form.price }}</p>
	<p>Description and Extra Information: {{ form.body }}</p>
	<p>Subject Code (eg. AMST or MATH): {{ form.subject }}</p>
	<p>Course Code (eg. 201 or 101): {{ form.course_number }}</p>
<p>Make sure these are exact as the search function does not accept partial results.</p>
	<br />
	<input type="submit" value="Submit" />
</form>
<br />
<p>[<a href="../..">home</a>] [<a href="../search/">search</a>]</p>
